@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");


:root {
  --body-font: "Inter";
  --body-color: #b3b3b3;
  --body-bg-color: #f2f2f2;
  --theme-bg-color: #fafafa;
  --border-color: #efefef;
  --logo-color: #d92027;
  --main-color: #808080;
  --header-bg-color: #fff;
  --color-bg-primary: #d0d6df;
  --color-text-primary: #3a3c42;
  --color-text-primary-offset: #898c94;
  --color-bg-primary-offset: #f1f3f7;
  --color-blue:#007aff;
 }
 * {
  outline: none;
  box-sizing: border-box;
  font-family: var(--body-font);
 }
 body {
  
  font-size: 100%;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
  margin: 0;
  font-weight: 400;
  min-height: -webkit-fill-available;
 } 

.header{
  display: flex;
  
}
.menu-item:hover {
  color: var(--logo-color);
  cursor: pointer;
  
}
.menu-item{
  padding: 0;
}
.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu {
  /* display: flex;
  flex-direction: column; */
  background-color: var( --header-bg-color);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgb(64 64 64 / 15%);
  /* flex-wrap: wrap; */
}
.menu-list {
  margin: 0;
  display: block;
  width: 100%;
  padding: 8px;
}
.menu-list + .menu-list {
  border-top: 1px solid #ddd;
}
.menu-button {
  font: inherit;
  border: 0;
  padding: 8px 8px;
  padding-right: 36px;
  width: 100%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--color-bg-secondary);
  
}
svg {
  width: 20px;
  height: 20px;
  /* margin-right: 10px; */
}
.menu-button-filed svg {
  width: 38px;
  height: 38px;
  margin-right: 10px;
}
.menu-button:hover {
  background-color: var(--color-bg-primary-offset);
  
}
.menu-button-filed:hover{
  background-color: var(--none);
}
.menu-field {
  font-size: 1em;
  width: 75.0375em;
  height: 38.84em;
  border-radius: var(--none, 1.3em );
  border: var(--none, 0.45em solid black);
  text-align: center;
  display: flex;
  min-width: min-content;

}
footer{
  font-size: .9em;
    font-weight: bold;
    color: #00000073;
    letter-spacing: -.01em
}

input[type="text"]
   {
    width: 18.4rem;
    height: 3.4rem;
    border-radius: 100rem;
    background: #f5f5f5;
    border: 0;
    box-sizing: border-box;
    padding: 0.4rem 1.4rem 0.4rem 2.6rem;
    font-size: inherit;
    transition: 0.1s linear;
}
.img-card{
  width: 100%;
  display: block;
  object-fit: cover;
  position: relative;
}
.img{
  width: 7.55em;
  height: 10.75em;
  overflow: hidden;
  /* position: absolute; */
  border-radius: .3em;
  pointer-events: none;
  transform: translate3d(10%, 0, 0);
  transition: border-radius var(--duration-product-item);
  box-shadow: 0.3125em 0.3125em 0.875em -0.1875em #403e3e4f
  
}
.article{
  width: 8em;
  z-index: 50;
  height: 8.88em;
  cursor: pointer;
  overflow: hidden;
  border-radius: .25em;
  will-change: transform;
  background-color: white;
  text-transform: capitalize;
  box-shadow: -2px 6px 15px 0px #2f2f2f24;
}
.card-info {
  padding: .82em .7em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card-content{
  width: 100%;
  height: 3%;
  z-index: 150;
  cursor: initial;
  box-shadow: none;
  padding-left: 1.05em;
  pointer-events: initial;
  background-color: unset;
  transform: translate3d(0, 180%, 0);
}
h2{
  margin: 0 0 .2em;
  line-height: 1.4;
  font-size: 1.0em;
  min-height: 2.778em;
  white-space: pre-line;
}
ul{
  list-style: none;
}
.menu-button--delete:hover{
  color: var(--logo-color);
}
a {
  text-decoration: none;
  margin-left: 10px;
}
a:visited{
  color: inherit;
}
#root > div > div:nth-child(1){
  flex-direction: row-reverse;
}
.card-item{
  width: 100%;
  display: flex;
  height: 9.92em;
  align-items: center;
  margin-bottom: 9%;
}

.nav::after{
  left:100%;
    opacity: .2;
    width: 1.6em;
    content: " ";
    height: 1.6em;
    position: absolute;
    background-image: url(http://utopian-drink.surge.sh/images/icon/back.svg);
    transform: rotate(180deg);
}
.item-description{
  color: #408cff;
  margin-right: .45em;
  display: flex;
  display: flex;
  font-size: 0.9em;
  font-weight: bold;
  /* color: #00000059; */
  position: relative;
  align-items: center;
}
p{
  margin-right: 5px;
}
::-webkit-scrollbar {
  width: 0;
}
.user-action {
  opacity: 1;
  color: white;
  font-size: 0.9em;
  margin-left: auto;
  pointer-events: none;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  background-color: #1368fa;
  padding: 1.7em 1.5em 1em 1.9em;
  position: sticky;
  left: 289px;
  font-weight: bold;
  border: none;
}
.welcome-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item-content{
  width: 74%;
  background-color: #eef0f3;
}
.cart{
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-menu{
  display: flex;
  align-items: center;
}
.cart-icon{
  border-radius: .3em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.55em;
  height: 6.75em;
}
.cart-content{
  margin-left: 0.7rem;
}
.cart-bio{
 
    margin-bottom: 0.5rem;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-align: initial;
    font-weight: 600;
}
.cart-description{
  opacity: 0.5;
  font-weight: 400;
}
.title{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 0.5px solid #dedede;
    font-size: 20px;
    font-weight: 600;
}
.cart-details{
  margin: 0;
    padding: 0;
    border: 0;
}
section{
  width: 65%;
  padding: 1rem;
  overflow-y: scroll;
}
.price{
  font-weight: 600;
}
.notification{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #dc3434;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  top: -12px;
  right: 100px;
  color: white;
}


